/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/storage/app/public/produtos_full/
/storage/app/public/usuario/
/public/apps/
# Python / Venv
venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Banco de Dados Pesado (Como você mencionou)
produtosbd/

# Logs e temporários
*.log

/node_modules
/vendor
.env
venv/
*.zip
storage/app/public/lojas/
storage/app/public/produtos_full/
public/phpmyadmin/